logs
project/project/target
project/target
target
tmp
.history
dist

/bin

/data-dev
/upload
/data-test
/data

.idea
*.iml
out
.idea_modules
.classpath
.project
RUNNING_PID

# ignore eclipse related resources
.settings
.target

# ignore Mac OS .DS_Store file
.DS_Store


# ignore upload folder
/upload

# ignore .cache for Scala-IDE
.cache

